# ansible managed

% if elasticsearch_config %}
{{ elasticsearch_config | to_nice_yaml }}
{% endif %}

{% if elasticsearch_config['cluster.name'] is not defined %}
cluster.name: {{ elasticsearch_cluster_name }}
{% endif %}

{% if elasticsearch_config['node.name'] is not defined %}
node.name: {{ inventory_hostname }}-{{ elasticsearch_instance_name }}
{% endif %}

#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
path.conf: {{ elasticsearch_path_conf }}

path.data: {{ elasticsearch_path_data }}

path.logs: {{ elasticsearch_path_logs }}

{% if not "security" in es_xpack_features %}
xpack.security.enabled: false
{% endif %}

{% if not "monitoring" in es_xpack_features %}
xpack.monitoring.enabled: false
{% endif %}

{% if not "alerting" in es_xpack_features %}
xpack.watcher.enabled: false
{% endif %}
